.wrapper{
    width: 1140;
    height: 9000px;
    background-color: #010225;
    margin: auto;
}


.navbar{

height: 82px;
width: 1886px;

}
a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 200px;
    

}
.logo{
    margin-left: 20px;
    margin-top: 10px;
}
.btn{

height: 48px;
width: 140px;
position: absolute;
left: 1750px;
}
.left{

height: 392.61px;
width: 633px;
margin-left: 100px;
}
.the{

height: 228px;


font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 76px;
/* or 119% */

color: #FFFFFF;


}
.lorem{
    color: #ffffff;
}
.header{
    display: flex ;
}
.img1{
    margin-left: 460px;
}
.intro{
margin: auto;
width: 1267.22px;
height: 424px;
left: calc(50% - 1267.22px/2);
top: calc(50% - 424px/2);


}
.new{

width: 422px;
height: 54px;
left: calc(50% - 422px/2);
top: 20px;

font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;
/* identical to box height, or 135% */
text-align: center;

color: #FFFFFF;


}
.ipsum{

width: 699px;
height: 120px;
left: calc(50% - 699px/2 + 0.5px);
top: 90px;

font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */
text-align: center;

color: #FFFFFF;


}
.benefit{
height: 170px;
margin-top: 100px;

}
.ben{

width: 160px;
height: 20px;

font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-align: center;

color: #FFFFFF;


}
.varius{

width: 269px;
height: 48px;

font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 24px;
/* or 218% */
text-align: center;

color: #FFFFFF;


}
.fa{

width: 1267.22px;
height: 170px;
display: flex;
justify-content: space-between;
}
/* Butun sahifa foni */
body {
    background-color: #0b0e29;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {

    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}


.side-column {
    width: 30%;
}


.feature-card {
    margin-bottom: 50px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: #a0aec0;
    font-size: 14px;
    line-height: 1.6;
}



.frame{

height: 842px;
width: 1440px;


}

.chap{
    /* Frame */

height: 502px;
width: 633px;

}
.wrap {
    display: flex;
    max-width: 1100px;
    margin: 100px auto;
    align-items: center;
    padding: 20px;
}
.left {
    flex: 1;
}

.blue-text {
    color: #00a2ff;
    font-weight: bold;
    font-size: 14px;
}

h1 {
    font-size: 45px;
    margin: 20px 0;
}

.gray-text {
    color: #888;
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.item {
    flex: 1;
}

.icon {
    width: 30px;
    height: 30px;
    background: #444; 
    margin-bottom: 10px;
}

/* Tugma */
.button {
    background: #0091ff;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
}

.right {
    flex: 1;
    text-align: right;
}

.right  {
position: absolute;
right: 100px;
top: 3180px;
}


    .wrap {
        flex-direction: column;
        text-align: center;
    }
    .row {
        flex-direction: column;
    }


.trust {
position: absolute;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    top: 3000px;
}

.header h1 {
    font-size: 32px;
    margin: 10px 0 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.blue-text {
    margin-left: 600px;
    color: #00a2ff;
    font-size: 12px;
    letter-spacing: 1px;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
    opacity: 0.8;
}

.logos img {
    height: 30px;
}





.text {
    color: #e0dddd;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    object-fit: cover;
}

.user h4 {
    margin: 0;
    font-size: 15px;
}

.user span {
    font-size: 12px;
    color: #777;
}
.tr{
    position: absolute;
    top: 4000px;
}
.logos{
    width: 1440px;
    height: 700px;
}
.one{
text-align: center;
position: relative;
top: 70px;
right: 330px;
}
    .card{
        /* Frame */

height: 370px;


    }
    .grid{


position: absolute;
width: 1267.22px;
height: 370px;
left: calc(50% - 1267.22px/2);
bottom: 30px;

display: flex;
gap: 30px;
    }




.tag { color: #00a2ff; font-weight: bold; font-size: 12px; }

.logo-grid {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    filter: brightness(0) invert(1);
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    text-align: left;
}

.review-card { padding: 20px; }
.stars { color: #00a2ff; margin-bottom: 10px; }

.user { display: flex; align-items: center; gap: 10px; margin-top: 15px; }
.user img { width: 40px; height: 40px; border-radius: 5px; }
.user-info span { display: block; font-size: 12px; color: #777; }

.pricing-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.price-card {
    background: #080b24;
    padding: 40px 30px;
    border-radius: 10px;
    flex: 1;
}

.blue-top { border-top: 3px solid #00a2ff; }
.red-top { border-top: 3px solid #ff4d4d; }
.purple-top { border-top: 3px solid #a855f7; }

.amount { font-size: 32px; font-weight: bold; margin: 20px 0; }

.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.footer { 
    position: absolute;
    top: 5000px;
    right: 1300px;
}
.logo-text {
 font-size: 30px; 
 margin-bottom: 10px;
 }

.social-icons 
{
     margin: 20px 0;
     font-size: 20px; 
     display: flex;
      justify-content: center; 
      gap: 15px; }

.input-box {
    max-width: 400px;
    margin: 20px auto;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 15px;
    background: #080b24;
    border: 1px solid #1a1e3d;
    color: white;
    border-radius: 5px;
}

.btn-submit {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    width: 60px;
    background: #00a2ff;
    border: none;
    border-radius: 5px;
}

.credits {
 font-size: 12px; 
 color: #555; 
 margin-top: 50px;
 }
.tag{

}
.right{
    position: absolute;
    right: 600px;
    top: 2990px;
}